{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Post Something Champion :)</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'blog/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/fonts/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/fonts/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/util2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main2.css' %}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				{% csrf_token %}
				<span class="contact100-form-title">
					Create a Post
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter the Title of the post">
					<input class="input100" type="text" name="title" placeholder="{{ post.title|default_if_none:"Title" }}">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Please enter your content">
					<textarea class="input100" name="content" placeholder="{{ post.content|default_if_none:"Content" }}"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Send
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/popper.min.js' %}"></script>
	<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/moment.min.js' %}"></script>
	<script src="{% static 'blog/js/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'blog/js/main2.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
